/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
    margin: 0;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik

 
*/

/* ----- zde zacni psat vlastni css ----- */

.obsah {
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 670px;
    height: 440px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 5px;
}

.leva-polovina {
    position: relative;
    flex-basis: 50%;
    background-image: linear-gradient(to bottom, #06d7c1, #50cc49);
    color: white;
    padding: 30px;
    border-radius: 5px 0 0 5px;
}

.motto {
    font-weight: 500;
    font-size: 16px;
}

.foto-bota {
    position: absolute;
    left: -75px;
}

.udaje {
    text-align: right;
    position: relative;
    top: 240px;
    right: 0;
}

.cena {
    font-weight: 500;
    font-size: 28px;
}

.zaruka {
    font-size: 12px;
}

.prava-polovina {
    flex-basis: 50%;
    padding: 30px;
}

.popis-bota {
    margin-bottom: 30px;
    border: 10px, solid, #06d7c1
}

.popis-bota h1 {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.kategorie-bota {
    color: grey;
    margin-bottom: 30px;
}

.velikost {
    padding-top: 30px;

}

.velikost h2 {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    
}

.velikost ul {
    list-style: none;
    padding: 0;
    margin-bottom: 60px;
    display: flex;
}

.velikost li {
    flex-grow: 6;
}

.vybrana-velikost {
    color: #f15f42;
    border: 1px, solid, #f15f42;
    border-radius: 50%;
}

a{
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f15f42;
    color: white;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

